:root {
  --buttons: rgb(218, 201, 9);
  --buttons-hover: rgb(153, 141, 9);
  --star-color: yellow;
  --font-family: "Bebas Neue", sans-serif;
  --card-hover: rgb(42, 40, 40);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 1.2rem;
  text-align: center;
}

.pageTitle {
  color: white;
  font-family: var(--font-family);
  margin-bottom: 1.2rem;
}

.movieGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  cursor: pointer;
  text-decoration: none;
  width: calc((100% - 6rem) / 4);
  min-width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.6rem;
}

.card:hover {
  transform: scale(1.02);
}

.posterImg {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.rating {
  color: var(--star-color);
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 0.6rem;
}

.movieName {
  color: white;
  font-family: var(--font-family);
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3rem;
  text-align: center;
  margin: 0.3rem 0.6rem;
}

.button {
  background-color: var(--buttons);
  color: white;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  margin: 0 0.6rem;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--buttons-hover);
}
@media (max-width: 1024px) {
  .movieGrid {
    gap: 1.5rem;
  }
  .card {
    width: calc((100% - 3rem) / 3);
  }
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .movieName {
    font-size: 0.8rem;
    height: 2.5rem;
  }

  .movieGrid {
    gap: 1rem;
    justify-content: center;
  }

  .card {
    width: 45%;
    min-width: 150px;
  }

  .card:hover {
    transform: none;
  }

  .posterImg {
    height: 280px;
  }

  .button {
    width: 80%;
    padding: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .movieGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
  }

  .card {
    width: 48%;
    min-width: auto;
  }

  .posterImg {
    height: 220px;
  }

  .movieName {
    font-size: 0.65rem;
    line-height: 1.1;
    height: 2.2rem;
  }

  .rating {
    font-size: 0.65rem;
  }
}
